<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elon Musk</title>
    <link rel="stylesheet" href="/style">
    <link rel="stylesheet" href="/navcss">
</head>
<body>
    <header>
   <nav>
       <h2>ELON MASK</h2>
       <ul>
           <li><a href="/">Home</a></li>
           <li><a href="/about">About</a></li>
           <li><a href="/works">What I Do</a></li>
           <li><a href="/gallery">Gallery</a></li>
       </ul>
   </nav> 
   <div >
   <h1>Elon Musk Website</h1>
   <p>Here you will find every Things about Elon Musk</p>
</div>
</header>

</body>
</html>