* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
  color: #fff;
}
header div {
  text-align: center;
  margin-top: 40vh;
}
header div h1 {
  font-size: 76px;
}
header div p {
  font-size: 20px;
}
